# See http://help.github.com/ignore-files/ for more about ignoring files.

# github dependabot always checks these, so don't check in
# let the CiCd create the lock files from scratch
package-lock.json
yarn.lock

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/website/dist

# e2e
/e2e/*.js
/e2e/*.map

# system files
.DS_Store
Thumbs.db

# unit test results
karma-results/
