<div *appShowContacts="contacts.length">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric"></th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">Number</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)"><i class="fa fa-user fa-lg"></i></td>
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)">{{ contact.name }}</td>
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)">{{ contact.email }}</td>
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)">
          {{ contact.number | phoneNumber : "default" : contact.country }}
        </td>
        <td class="mdl-data-table__cell--non-numeric"><i [appFavoriteIcon]="contact.favorite" [color]="'gold'"></i></td>
      </tr>
    </tbody>
  </table>
  <br>
  <button (click)="deleteContacts()" md-raised-button color="primary">Delete All Contacts</button>
</div>

<div *appShowContacts="!contacts.length && !isLoading">
  <h6 class="messages">{{ noContactsMessage }}</h6>
  <button (click)="addContacts()" md-raised-button color="primary">Add Contacts</button>
</div>

<div *appShowContacts="!contacts.length && isLoading">
  <h6 class="messages">{{ loadingMessage }}</h6>
  <md-progress-bar class="app-progress" mode="indeterminate" 
    aria-label="Indeterminate progress-bar example"></md-progress-bar>
</div>