table {
  margin-left: auto; 
  margin-right: auto;
  width: 50%;
}

tr {
  cursor: pointer;
}

.ca-favorite-icon-gold {
  color: gold;
}

.ca-favorite-icon-white {
  color: white;
}

.messages {
  text-align: center;
}

.add-fab {
  float: right;
}