table {
  margin-left: auto; 
  margin-right: auto;
  width: 50%;
}

tr {
  cursor: pointer;
}

.messages {
  text-align: center;
}

.add-fab {
  float: right;
}

.editIcon {
  color: white;
}

.editIcon:hover {
  color: black;
}

.deleteIcon {
  color: white;
}

.deleteIcon:hover {
  color: black;
}