<div class="container">
    <h4>Contact</h4>

    <md-input type="text" id="name" placeholder="name" align="end">
        <label>Name</label>
    </md-input>
    <br>
    <md-input type="email" placeholder="email" align="end">
        <label>Email</label>
    </md-input>
    <br>
    <md-input type="tel" placeholder="phone number" align="end">
        <label>Phone Number</label>
    </md-input>
    <br>
    <button (click)="createContact()" md-raised-button color="primary">Submit</button>
</div>