<div *appShowContacts="contacts.length && !deletingContact && !deletingContacts">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric"></th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">Number</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
        <th class="mdl-data-table__cell--non-numeric"></th>
        <th class="mdl-data-table__cell--non-numeric"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" (click)="onSelect(contact)">
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)">
            <mat-icon>mood</mat-icon>
        </td>
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)"><strong>{{ contact.name }}</strong></td>
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)">{{ contact.email }}</td>
        <td class="mdl-data-table__cell--non-numeric" (click)="onClick(contact)">
          {{ contact.number | phoneNumber : "default" : contact.country : true }}
        </td>
        <td>
          <mat-icon class="edit-icon" (click)="editContact(contact)" matTooltip="Edit">
            edit
          </mat-icon>
        </td>
        <td>
          <mat-icon class="delete-icon" (click)="deleteContact(contact)" matTooltip="Delete">
            delete
          </mat-icon>
        </td>
        <td class="mdl-data-table__cell--non-numeric icon">
          <i [appFavoriteIcon]="contact.favorite" [color]="'gold'"
             [matTooltip]="contact.favorite ? 'Starred' : 'Not Starred'"
             (click)="saveContact(contact)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button mat-raised-button color="primary" (click)="deleteContacts()">
      Delete All Contacts
  </button>
  <a *ngIf="!isLoading && !deletingContact" routerLink="/add">
    <button mat-fab class="add-fab" id="add-contact"><mat-icon class="add-fab-icon" matTooltip="Add new contact">add</mat-icon></button>
  </a>
</div>

<div *appShowContacts="!contacts.length && !isLoading && !deletingContact && !deletingContacts">
  <h6 class="messages">{{ noContactsFoundMessage }}</h6>
  <button (click)="refreshContacts()" mat-raised-button color="primary">Add Contacts</button>
</div>

<div *appShowContacts="!contacts.length && isLoading && !deletingContact && !deletingContacts">
  <h6 class="messages">{{ loadingContactsMessage }}</h6>
  <mat-progress-bar class="app-progress" mode="indeterminate"
    aria-label="Indeterminate progress-bar example"></mat-progress-bar>
</div>

<div *appShowContacts="deletingContact">
    <h6 class="messages">{{ deletingContactMessage }}</h6>
    <mat-progress-bar class="app-progress" mode="indeterminate"
                     aria-label="Indeterminate progress-bar example"></mat-progress-bar>
</div>

<div *appShowContacts="deletingContacts">
    <h6 class="messages">{{ deletingContactsMessage }}</h6>
    <mat-progress-bar class="app-progress" mode="indeterminate"
                     aria-label="Indeterminate progress-bar example"></mat-progress-bar>
</div>